@tailwind base;
@tailwind components;
@tailwind utilities;

/* 커스텀 폰트 및 기본 레이아웃 설정 */
body {
  font-family: 'Pretendard', sans-serif;
  background-color: white;
  scroll-behavior: smooth;
}


/* Hide scrollbar utility */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
